[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=%I
Environment=DISPLAY=:0
ExecStart=/home/%I/.lock.sh
ExecStartPost=/usr/bin/sleep 3

[Install]
WantedBy=sleep.target
